apiVersion: v1
kind: Config
clusters: [{name: c, cluster: {server: "${APISERVER}", insecure-skip-tls-verify: true}}]
users: [{name: u, user: {token: "${TOKEN}"}}]
contexts: [{name: c, context: {cluster: c, user: u}}]
current-context: c
