set system host-name 'edge{{ .Edge }}'
set service ssh
set system login user admin authentication plaintext-password 'admin'
set interfaces dummy dum0 address '{{ .EdgeLoopback }}::e{{ .Edge }}/128'
set interfaces ethernet eth3 address '{{ .WanNet }}::1{{ .Edge }}/64'
set interfaces ethernet eth4 address '{{ .TaygaNet }}:{{ .Edge }}::1/64'
set protocols static route6 ::/0 next-hop '{{ .WanNet }}::1'
set protocols static route6 {{ .NAT64Prefix }} next-hop '{{ .TaygaNet }}:{{ .Edge }}::2'
set protocols bgp system-as '{{ .ASEdge }}'
set protocols bgp parameters router-id '10.0.0.{{ .Edge }}'
set protocols bgp parameters bestpath as-path multipath-relax
set protocols bgp address-family ipv6-unicast maximum-paths ebgp '64'
set protocols bgp address-family ipv6-unicast network '{{ .EdgeLoopback }}::e{{ .Edge }}/128'
set protocols bgp address-family ipv6-unicast network '{{ .NAT64Prefix }}'
set protocols bgp peer-group fabric remote-as 'external'
set protocols bgp peer-group fabric capability extended-nexthop
set protocols bgp peer-group fabric bfd
set protocols bgp peer-group fabric address-family ipv6-unicast default-originate
set protocols bgp neighbor eth1 interface v6only peer-group 'fabric'
set protocols bgp neighbor eth2 interface v6only peer-group 'fabric'
set service dns forwarding dns64-prefix '{{ .NAT64Prefix }}'
set service dns forwarding listen-address '{{ .EdgeLoopback }}::e{{ .Edge }}'
set service dns forwarding allow-from '{{ .NodeAggr }}'
set service dns forwarding allow-from '{{ .RAAggr }}'
set service dns forwarding allow-from '{{ .LoopAggr }}'
set service dns forwarding name-server '{{ .DNSUpstream }}'
